@import '../abstract/variaveis';
.banner {
    background: url(../../imagens/banner.jpeg) 27% center no-repeat;
    min-height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    .inner-banner{
        padding: 3rem;
        background-color: $cor-terciaria;
        opacity: 0.9;
        border-radius: 25px;
        text-align: center;
        h1 {
            color: $cor-primaria;
            font-size: $tamanho-fonte;
            font-weight: bold;
            margin-bottom: 15px;
        }
        h2 {
            font-size: $tamanho-fonte /2;
            color: $cor-secundaria;
        }
    }
}
